.header__lang-link {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Inter", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 111%;
	text-decoration: none;
	color: #fff;
}

@media screen and (min-width: 768px) {
	.header__lang-link {
		font-size: 24px;
		line-height: 117%;
	}
}
