.header__lang-link {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Inter-Regular";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 117%;
	text-decoration: none;
	vertical-align: bottom;
	color: #fff;
	min-width: 30px;
}

@media screen and (max-width: 320px) {
	.header__lang-link {
		font-size: 18px;
		line-height: 111%;
		min-width: 22px;
	}
}
