.intro__statistic {
	padding: 0;
	margin: 0;
	min-width: 100%;
	text-align: left;
	font-family: "Inter-Regular";
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	letter-spacing: 0.2px;
	list-style: none;
}
