.cover__link {
	width: 100%;
	min-height: 740px;
	height: 100%;
	text-decoration: none;
	color: #fff;
	outline: none;
	position: relative;
	background-image: url("../../../images/outro/cover-trains.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.cover__link::after {
	content: "";
	position: absolute;
	width: 100%;
	min-height: 740px;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0.3;
	background-color: #2a2c2f;
	transition: opacity 0.9s ease-out 0s;
}
.cover__link:hover::after {
	content: "";
	position: absolute;
	width: 100%;
	min-height: 740px;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0.8;
	background-color: #2a2c2f;
}
