.lead-block {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	max-width: 100%;
}

@media screen and (min-width: 1024px) {
	.lead-block {
		padding: 0 48px;
	}
}
@media screen and (min-width: 1280px) {
	.lead-block {
		padding: 0 148px;
	}
}
