.header__lang {
	box-sizing: border-box;
	list-style: none;
	margin: 0;
	padding: 0 0 4px 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	min-width: 77px;
}

@media screen and (max-width: 320px) {
	.header__lang {
		min-width: 58px;
	}
}
