.header__lang {
	box-sizing: border-box;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-self: flex-end;
	margin-bottom: 6px;
	min-width: 60px;
	min-height: 22px;
}

@media screen and (min-width: 768px) {
	.header__lang {
		min-width: 75px;
		margin-bottom: 3px;
	}
}
