.places__link {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Inter-Regular";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.22;
	color: #fff;
	text-decoration-line: underline;
}
