.main {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	max-width: 100%;
}

@media screen and (min-width: 768px) {
	.main {
		max-width: 768px;
	}
}

@media screen and (min-width: 1024px) {
	.main {
		max-width: 1024px;
	}
}

@media screen and (min-width: 1280px) {
	.main {
		max-width: 1280px;
	}
}
