.cover__subtitle {
	box-sizing: border-box;
	padding: 0;
	margin-bottom: 0;
	max-width: 100%;
	position: relative;
	font-family: "Inter", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 114%;
	text-align: center;
	opacity: 1;
	z-index: 2;
}

@media screen and (min-width: 768px) {
	.cover__subtitle {
		margin: 0;
		font-size: 18px;
		line-height: 122%;
		max-width: 354px;
	}
}
