.title {
	display: block;
	padding: 0;
	margin: 0;
	font-family: "Inter-Black";
	font-style: normal;
	font-weight: 900;
	font-size: 96px;
	line-height: 104%;
	text-align: center;
	max-width: 73.17%;
}
