.page__intro {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: start;
	margin-bottom: 92px;
	margin-left: 148px;
}

@media screen and (max-width: 1024px) {
	.page__intro {
		margin-left: 48px;
	}
}

@media screen and (max-width: 768px) {
	.page__intro {
		margin-bottom: 88px;
		margin-left: 24px;
	}
}

@media screen and (max-width: 320px) {
	.page__intro {
		margin-bottom: 64px;
		margin-left: 16px;
	}
}
