.lead-block__title {
	box-sizing: border-box;
	margin: 0;
	padding: 0 16px;
	margin-bottom: 16px;
	max-width: 100%;
}

@media screen and (min-width: 768px) {
	.lead-block__title {
		padding: 0 24px;
		margin-bottom: 32px;
		max-width: 100%;
		font-size: 96px;
		line-height: 104%;
		text-align: center;
	}
}

@media screen and (min-width: 1280px) {
	.lead-block__title {
		margin: 0 auto;
		margin-bottom: 32px;
		max-width: 720px;
	}
}
