.lead-block__image-caption {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	padding-left: 16px;
	font-family: "Inter", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 140%;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #fff;
	max-width: 100%;
	text-align: left;
}

@media screen and (min-width: 768px) {
	.lead-block__image-caption {
		padding-left: 24px;
	}
}

@media screen and (min-width: 1024px) {
	.lead-block__image-caption {
		padding-left: 0;
	}
}
