.places__items {
	box-sizing: border-box;
	list-style: none;
	margin: 0 148px auto;
	padding: 0;
	max-width: 1184px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(460px, min-content);
	row-gap: 80px;
}

@media screen and (max-width: 1024px) {
	.places__items {
		margin: 0 48px auto;
		max-width: 928px;
		grid-template-rows: minmax(440px, min-content);
	}
}

@media screen and (max-width: 968px) {
	.places__items {
		margin: 0 24px auto;
		max-width: 100%;
		grid-template-rows: minmax(340px, max-content);
		row-gap: 73px;
	}
}

@media screen and (max-width: 768px) {
	.places__items {
		margin: 0 24px auto;
		max-width: 720px;
		grid-template-rows: minmax(340px, fit-content);
		row-gap: 73px;
	}
}

@media screen and (max-width: 615px) {
	.places__items {
		margin: 0 auto;
		max-width: 320px;
		grid-template-rows: 1fr;
		row-gap: 50px;
	}
}
