.intro__text {
	box-sizing: border-box;
	padding: 0 16px;
	margin: 0 0 31px 0;
	color: #fff;
	font-family: "Inter", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	text-align: left;
	max-width: 100%;
}

@media screen and (min-width: 768px) {
	.intro__text {
		padding: 0;
		margin: 0 0 33px 24px;
	}
}

@media screen and (min-width: 1024px) {
	.intro__text {
		margin: 0 0 33px 48px;
		max-width: 690px;
	}
}

@media screen and (min-width: 1280px) {
	.intro__text {
		margin: 0 0 33px 148px;
	}
}
