.lead-block__subtitle {
	max-width: 100%;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 16px;
	margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
	.lead-block__subtitle {
		margin-bottom: 56px;
		font-size: 30px;
		line-height: 120%;
		text-align: center;
	}
}

@media screen and (min-width: 1024px) {
	.lead-block__subtitle {
		max-width: 640px;
	}
}

@media screen and (min-width: 1280px) {
	.lead-block__subtitle {
		max-width: 640px;
		margin-bottom: 64px;
	}
}
