.page__places {
	box-sizing: border-box;
	margin-bottom: 66px;
}

@media screen and (min-width: 768px) {
	.page__places {
		margin-bottom: 98px;
	}
}

@media screen and (min-width: 1024px) {
	.page__places {
		margin-bottom: 88px;
	}
}
