.cover__title {
	box-sizing: border-box;
	position: relative;
	margin: 0 0 16px 0;
	padding: 0;
	font-weight: 900;
	font-size: 32px;
	line-height: 109%;
	text-align: center;
	max-width: 100%;
	color: #fff;
	z-index: 2;
}

@media screen and (min-width: 768px) {
	.cover__title {
		padding: 0;
		font-size: 72px;
		line-height: 106%;
	}
}

@media screen and (min-width: 1024px) {
	.cover__title {
		max-width: 560px;
		margin: 0 0 32px 0;
	}
}
