.footer {
	box-sizing: border-box;
	max-width: 100%;
	margin: 0;
	padding: 0 16px;
	height: 100%;
}

@media screen and (min-width: 768px) {
	.footer {
		padding: 0 24px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
}

@media screen and (min-width: 1024px) {
	.footer {
		padding: 0 48px;
	}
}
