.page__cover {
	text-decoration: none;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 92px;
}

@media screen and (max-width: 768px) {
	.page__cover {
		margin-bottom: 92px;
	}
}

@media screen and (max-width: 510px) {
	.page__cover {
		margin-bottom: 64px;
		width: 100%;
	}
}
