.places__item {
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: minmax(1fr, 320px);
	grid-template-rows: 35px 46px min-content;
	row-gap: 32px;
	width: 100%;
	justify-self: center;
	align-self: center;
}

@media screen and (min-width: 768px) {
	.places__item {
		max-width: 720px;
		display: grid;
		grid-template-columns: minmax(min-content, 340px) minmax(352px, 1fr);
		grid-template-rows: minmax(min-content, 46px) 1fr;
		column-gap: 28px;
		row-gap: 48px;
	}
}

@media screen and (min-width: 1024px) {
	.places__item {
		max-width: 928px;
		grid-template-columns: minmax(min-content, 440px) minmax(min-content, 456px);
		grid-template-rows: minmax(min-content, 76px) 1fr;
		column-gap: 32px;
	}
}

@media screen and (min-width: 1280px) {
	.places__item {
		max-width: 984px;
		grid-template-columns: minmax(min-content, 460px) minmax(min-content, 484px);
		grid-template-rows: minmax(76px, min-content) 1fr;
		column-gap: 40px;
	}
}
